
.formContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}


.signInForm {
  width: 40%;
  max-width: 400px;
  height: 80%; 
}

.signUpForm {
  width: 40%;
  max-width: 400px;
  height: 80%; 
  margin-right: 33%;
}

