.containerAdminView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  width: 250px; 
  height: 150px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s; 
}

.card:hover {
  transform: scale(1.05); 
  background-color: #e0e0e0; 
  box-shadow: 0 4px 8px rgba(43, 225, 16, 0.1); 
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.CreateProduct {
  width: 100%;  
}