.topMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 5vh; */
  height: 30px;
  background-color: var(--Rose);
  font-family: 'Now';
  font-size: 0.80rem; 
  color: #333;
}