.container {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border: 2px solid #000000; 
  padding: 20px; 
  height: 200px; 
  width: 50%; 
  background-color: #000000;  
  color: white;  
}

.headerMsj{
  border: 2px solid rgba(141, 139, 139, 0.26);
  margin-bottom: 50px;
  width: 60%;
}

.btnClose{
  width: 7%;
  height: 7%;
  margin-left: 94%;
  background-color: azure;
  border-radius: 90%;
  margin-top: -1.6%;
}

.btnCloseContainer {
  color: azure;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: 10px;
  margin-right: 15px;
}

.input {
  border: 2px solid #818181; 
  padding: 5px;
  margin-right: 55px;
  margin-left: 8px;
}

.button {
  padding: 8px 15px;
  background-color: black; 
  color: white; 
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #000000; 
  color: white;
}

.cargaCorrecta {
  background-color: #000000;
  padding: 5px;
  border-radius: 5px;
}
