
@font-face {
  font-family: 'Now';
  src: url('./assets/fontNow/Now-Regular.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}


/*
PURE WHITE SW 7005      👉🏻 #EEECE5
SNOWBOUND SW 7004       👉🏻#EDEAE4
ALABASTER SW 7008       👉🏻#EEEAE0
MODERNE WHITE SW 6168   
MODERN GRAY SW 7632 
AGREEABLE DAY SW 7029
REPOSE GRAY SW 7015 
BALANCED BEIGE SW 7037
WINDSOR GREIGE SW 7528
*/