*{
  margin: 0;
  padding: 0;
}
:root{
  /* Paleta de colores */
  --PureWhite: #ECEBE8;
  --Snowbound: #FFFFFF;
  --Alabaster: #ECEAE1;
  --ModerneWhite: #E3E1DA;
  --ModerneGray: #D8CDC4;
  --AgreableGray: #D3C9C2;
  --ReposeGray: #CCCBBF ;
  --BalancedGray: #C0B3A3;
  --WindsorGreige: #C5B4A0;
}