.hamburger1, .hamburger2{
  max-width: 30px;
  max-height: 30px;
}
.hamburger1, .hamburger2, .option1, .option2 {
  cursor: pointer;
}

.option1, .option2{
  position: absolute;
  left: 10vw;
  transform: translate(-50%, -50%);
  background-color: var(--WindsorGreige);
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  border: solid white 1px;
}

.option1{
  top: 15vh;
}
.option2{
  top: 22vh;
}

.option1:hover, .option2:hover{
  opacity: 0.5;
  border: solid black 1px;
}

.menuOpen{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #0000007c;
  padding: 5px;
}

.menuClosed{
  display: none;
  overflow: hidden;
}

.createProducts, .login{
  color: white;
}

.imgHover, .imgHover2{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  float: left;
}
.imgHover:hover, .imgHover2:hover{
  background-color: #8080808f;
}

.imgHover2{
  margin: 13% 16%;
}

.navbarVertical{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 22vw;
  background-color: var(--WindsorGreige);
}