.container{
  background-color: var(--BalancedGray);
  max-width: 600px;
  max-height: 72vh;
  padding: 10px 20px 20px;
  border-radius: 5px;
  margin: 4vh auto;
  overflow: auto;
}
.ul li{
  margin: 30px;
}