.header1, .header2{
  width: 100vw;
  min-height: 60px;
  background-color: var(--WindsorGreige);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 0;
}
.header1{
  margin-top: 2.5%;
}
.header2{
  margin-top: 0;
}
.ghost1{
  width: 100vw;
  height: 20vh;
}
.ghost2{
  width: 0;
  height: 0;
}
.silence{
  position: absolute;
  left: 47.8vw;
  max-width: 60px;
}
.inputSearch{
  width: 150px;
  margin: 1.25% 0.2%;
  padding: 5PX;
  float: left;
}
.search{
  max-width: 25px;
  float: left;
  margin: 1.4% 0;
}
.search:hover{
  cursor: pointer;
}
.kartMarket, .mailInbox{
  max-width: 30px;
  float: right;
  margin: 1%;
}
.kartMarket{
  margin-right: 2.5%;
}
.kartMarket:hover, .mailInbox:hover{
  cursor: pointer;
}

