.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    /* width: 350px;
    height: 400px; */
    color: rgba(255, 255, 255, 0.938);
    /* background: linear-gradient(163deg, #03010536 0%, #d791e744); */
    border-radius: 50px;
    transition: all 0.3s;
    /* margin: 20px 30px 20px 30px; */
    /* float: left; */
    margin-right: 30px;
    margin: 50px;
    text-decoration: none;
    margin-top: 9px;
    margin-bottom: 160px;
    flex-direction: row;
    align-items: center;
  }
  

  .card {
    margin: 10px;
    border-radius: 50px;
    
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #7b7b7b;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  .pagination span {
    background-color: #7b7b7b;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
  }