.productList {
    width: 350px;
    height: 400px;
    color: rgba(255, 255, 255, 0.938);
    /* background: linear-gradient(163deg, #03010536 0%, #d791e744); */
    border-radius: 50px;
    transition: all 0.3s;
    /* margin: 20px 30px 20px 30px; */
    float: left;
    margin-right: 30px;
    margin: 50px;
    text-decoration: none;
    /* margin-top: 20px; */
    margin-bottom: 160px;
  }
  

  .card {
    /* Agrega estilos adicionales para las cards según tus preferencias */
    margin: 10px;
    border-radius: 50px;
  }

