.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; 
  font-family: 'Now';
}

.cardContainer {
  width: 100%;
  /* height: auto; */
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Now';
  height: 80vh;  */
}

.home-card{
  width: 100%;
  /* height: auto; */
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;

}
