.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.topMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: var(--Rose);
  font-family: 'Now';
  font-size: 1.4rem; 
  color: #333;
}

.cardContainer {
  width: 100%;
  /* height: auto; */
  flex-wrap: wrap;
  
  justify-content: center;
  padding-bottom: 5%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Now';
  height: 80vh;  */
}

.cardContainer p {
  color: green;
}

.home-card{
  width: 100vw;
  height: auto; 
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}
