.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.topMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: var(--Rose);
  font-family: 'Now';
  font-size: 1.4rem; 
  color: #333;
}

.cardContainer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
}


@media only screen and (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
  }

  .topMessage {
    height: 10vh; 
    font-size: 1.2rem; 
  }

  .cardContainer p {
    position: static;
    transform: none;
    text-align: center; 
    margin-top: 20px; 
  }
}