.container {
  margin-bottom: 3%;
  height: 97vh;
  margin-top: 1px;
  margin-right: 2%;
  margin-left: -1%;
  width: 86vw;
  display: flex;
  flex-direction: column;
}


.chartContainer {
  display: flex;
  width: 100%;
  height: 50%;
  padding: 10px; 
}

.chartTwo {
  border-radius: 15px;
  padding: 10px;
  width: 47.9%;
  height: 100%; 
}

.chartBar {
  border-radius: 15px;
  padding: 10px;
  width: 47.9%;
  height: 100%; 
}



.btnCloseContainer {
  display: flex;
  justify-content: flex-end;
}
