.footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--WindsorGreige);
  min-height: 50px;
  border-top: solid white 1px;
}
.faqSection{
  float: left;
  color: white;
  margin: 0.8%;
  font-size: 25px;
}
.faqSection:hover{
  color: black
}