.containerFotter {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: auto;
  background-color: var(--WindsorGreige);
  min-height: 50px;
  border-top: solid white 1px;
  flex-wrap: wrap;
  background-color: black;
}

.faqSection, .policyreturn {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 0 10px; /* Agrega un margen a la izquierda y derecha para separar las palabras */
  border-radius: 4px; 
  transition: color 0.2s ease-in-out;
}

.faqSection:hover, .policyreturn:hover {
  box-shadow: 0 0 5px 2px white; 
}
