.footer{
  display: flex;
  margin-top: auto;
  background-color: var(--WindsorGreige);
  min-height: 50px;
  border-top: solid white 1px;
}
.faqSection, .policyreturn{
  color: white;
  margin: 0.8%;
  font-size: 25px;
}

.faqSection:hover, .policyreturn:hover{
  color: black
}
