.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.inputSearch {
  margin-top: 1rem;
  width: 150px;
  margin: 1.25% 0.2%;
  padding: 9px;
  float: left;
  font-size: 15px;
  padding: .3rem;
}
.search {
  max-width: 25px;
  float: left;
  margin: 1.4% 0;
}
.search:hover {
  cursor: pointer;
}


.userIcon {
  max-width: 30px;
  float: right;
  margin: 18px;
}

.userIcon:hover {
  cursor: pointer;
}
