

nav.navBar {
  display: block;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 1px;
  width: 100%;
  height: 12%;
  padding: 1px;
  background: rgba(84, 76, 69, 1);
  border-radius: 5px;
  align-items: center;
}


nav.navBar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

nav.navBar ul li {
  list-style: none;
  flex: 1;
}
 
 nav.navBar ul li a {
background: rgba(84, 76, 69, 1);
   display: block;
   text-decoration: none;
   color: #0e0d0d;
   font-size: 15px;
   font-weight:500;
   padding: 0.2rem;
   margin: 0 1rem;
   width: 20%;
   margin-top: 100rem;
   height: 90vh;
   text-align: center; 
   transition: .4s; 
  }
  
  nav.navBar ul li a:hover {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255 .4), transparent);
  
}


nav.navBar .menu {
  position: absolute;
  top: 1.2rem;
  left: 2.8rem;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav.navBar ul.open {
  display: flex;

}

nav.navBar .menu span {
  height: 0.4rem;
  width: 100%;
  border-radius: 0.2rem;
  margin-top: 1%;
  margin-bottom: 1%;
  color: rgba(21, 21, 21, 1);
  background: azure;

 
}


  nav.navBar .menu {
  display: flex;
 }

 br {
  display: none;
 }

 nav.navBar {
flex-direction: column;
align-items: start;
  }

nav.navBar ul {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.25rem;
  }

  nav.navBar ul.open {
    display: flex;
  }

  nav.navBar ul li {
    /* display: none; */
    width: 100%;
    text-align: center;
    }

    
  nav.navBar ul li a {
    /* display: none; */
margin: 0.02rem 0.5rem;
    }







    .btnAjust {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgb(139, 126, 115);
      color: #000000;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .btnAjust:hover {
      color: #ffffff;
      background-color: rgba(45, 41, 38, 0.8);
    }
    
    .btnAjust:focus {
      outline: none;
    }
    
    .btnAjust span {
      margin-left: 5px;
    }
    