.absolute {
  width: auto;
  height: auto;
}

.productDetail {
  flex-direction: column;
  background-color: #ffffff54;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.5s ease-out;
  margin: 20px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.productDetail:hover {
  transform: scale(1.05);
  background-color: #c0c0c0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.productImageContainer {
  display: flex;
  justify-content: center;
}

.productImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  /* border: 1px solid rgb(0, 0, 0); */
  font-weight: bold;
  font-size: 10px;
  color: rgb(226, 226, 226);
  background-color: #c0c0c1b9;
  width: 100%;
  text-align: center;
}

.productName {
  font-family: 'Now';
  font-size: 18px;
  color: #072430;
  text-align: center;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-top: 5px;
}

.button {
  width: 100%;
  margin-top: 10px;
  background-color: #7a7979;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #999;
}


.heartIcon {
  width: 30px;
  height: 30px;
}


@media (max-width: 768px) {
  .productDetail {
    width: 220px;
    height: auto;
  }

  .productImage {
    height: 140px;
  }

  .productName {
    font-size: 16px;
  }

  .productPrice {
    font-size: 14px;
  }
}